{% extends "layouts/main.html" %}
{% block content %}
{% include "includes/menu.html" %}
<div id="main">
    <div class="header">
        <h1>About </h1>
        <h2>Lets save time and build cool things!</h2>
        <hr>
    </div>

    <div class="content">
        <h2 class="content-subhead">Learning By Reference</h2>
        <p>
            This project, aims to be both a learning tool for python, flask, web and software development as well as a useful starting point for new app ideas. Lots of code for new projects ends up being boiler plate... lets change that, and help get cool ideas on the road faster.
        </p>
    </div>
</div>
{% endblock %}
