


/* Default colors */
.clr-background { color: rgb(23, 23, 23); background-color: rgb(255, 248, 248);}

.clr-error {
    color: rgb(202, 60, 60);
}


.clr-default,
.btn-success,
.btn-error,
.btn-warning,
.btn-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.btn-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.btn-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.btn-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.btn-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
