<!doctype html>

<head>
    <title>Basic App</title>
    
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- /meta -->

    <!-- styles -->
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/base.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/colors.css" />
    <!-- /styles -->

    <!-- favicons -->
    <link rel="shortcut icon" href="/static/favicon.png">
    <!-- /favicons -->

    <!-- scripts -->
    <script defer src="/static/js/ui.js"></script>
</head>

<body class="clr-background">
    {% block bodycontent %}{% endblock %}
</body>

</html>
